1body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
}

.kap_clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.kap_container {
    margin: 0 auto;
}

.kap_container:after {
    content: '';
    clear: both;
    display: table;
}


/*HEADER*/

.kap_main-header {
    padding: 15px;
    background: lightgray;
}

.kap_header {
    min-height: 50px;
}

.kap_header::after {
    display: table;
    clear: both;
    content: "";
}

.kap_logo {
    float: left;
    margin-left: 50px;
    width: 250px;
    height: 85px;
}

.kap_logo img {
    display: block;
}

.kap_main-menu {
    float: right;
    padding-right: 50px;
    width: 650px;
    margin: 30px;
    text-align: center;
}

.kap_main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.kap_main-menu li {
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.kap_main-menu li:last-child {
    margin-right: 0;
}

.kap_main-menu a {
    color: #000000;
    text-decoration: none;
}

.kap_main-menu a:hover {
    text-decoration: underline;
}

.kap_main-menu a:active {
    text-decoration: none;
    opacity: 0.3;
}


/*STRUCTURA_LIT*/

.kap_structure {
    margin: 5px;
}

.kap_block1 {
    float: left;
    /*    border: 2px solid grey;*/
}

.kap_structure .kap_layout-column1 {
    width: 450px;
    min-height: 100%;
}

.kap_structure .kap_layout-column2 {
    width: 450px;
    min-height: 100%;
}

.kap_block2 {
    margin-left: 460px;
    /*    border: 2px solid red;*/
}

.kap_structure .kap_layout-column3 {
    height: 839px;
    width: 1438px;
    max-width: 100%;
    max-height: 100%;
    background: yellow;
}

.kap_structure .kap_layout-column:last-child {
    margin-right: 0;
}

.kap_feature {
    padding: 5px;
    text-align: left;
}

.kap_feature h2 {
    text-align: center;
}

.kap_menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 400px;
}

.kap_menu a {
    display: block;
    margin-bottom: -5px;
    padding: 6px 20px;
    color: #0088CC;
    text-decoration: none;
    font-size: 20px;
}

.kap_menu ul {
    margin: 0;
    padding: 5px 0px;
    padding-left: 25px;
    list-style: none;
}
