tab_fte_table.cfg

[comments]
descr=Таб "FTE"
input=none
output=HTML таблица объектов
parents=
childs=admin/monitor/docs_list_table.cfg
testURL=?c=admin/monitor/docs_list
author:Семашко
[end]

[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=U:Список документов
tableCfg=table_no
$INCLUDE dat/common.dat[rowLinks]
[end]

[ffstyle]
    $JS      rm.println("======!!!!!!!!include ffstyle  of = [#of#] :\n");
    <style>
        .td_fte {
                position:relative;
                padding-bottom:50px;
            }

        .td_bottom_div  {
            font-size:xx-small;
            position:absolute;
            bottom:0;            
        }


        .div_v1 {
          max-width: 90%;
          max-height: 65em;
          overflow: scroll;
          position: relative;
          color: #666;


        }

        .div_v1 table {
          position: relative;
          border-collapse: collapse;
        }

        .div_v1 table td, th {
          padding: 0.25em;
        }

        .div_v1 table thead th {
          position: -webkit-sticky; /* for Safari */
          position: sticky;
          top: 0;
        }

        .div_v1 table thead th:first-child {
          left: 0;
          z-index: 1;
        }
        .div_v1 table thead th:second-child {
          left: 0;
          z-index: 1;
        }

        .div_v1 table tbody th {
          position: -webkit-sticky; /* for Safari */
          position: sticky;
          left: 0;
        
          border-right: 1px solid #CCC;
        }
    </style>
[end]

[report header]
$LOG2 fte_cost '#fte_cost#'
    $GET_DATA [get total]
    $GET_DATA [get money for topics]
    $JS      var topic_list = {};var project_list = {};
    $JS      var topic_list_fte = {};var project_list_fte = {};
    $JS{
        var all_fte=prm('all_fte').split('_');
//            _$LOG(2,'JS='+all_fte+'<br>');
            for (st in all_fte) {
                line = all_fte[st].split(',');
                if (line[0]==''){line.shift()};
                if ((line[0]=='100')&(line[1]!=='1126')){
                  _$LOG(2,'<hr>'+all_fte[st]+' = '+line+'<br>');
//                    _$LOG(2,'topic='+JSON.stringify(topic_list_fte)+'<br>Pr='+JSON.stringify(topic_list)+'<br>');
                }
                if(typeof topic_list[line[0]] == "undefined")
                  topic_list[line[0]]=0;
                if(typeof project_list[line[1]] == "undefined")
                  project_list[line[1]]=0;

                if(typeof topic_list_fte[line[0]] == "undefined")
                  topic_list_fte[line[0]]=0;
                if(typeof project_list_fte[line[1]] == "undefined")
                  project_list_fte[line[1]]=0;

                topic_list[line[0]]=(+line[4])+topic_list[line[0]];
                project_list[line[1]]=(+line[4])+(project_list[line[1]]);


                topic_list_fte[line[0]]+=(+line[3]);
                project_list_fte[line[1]]+=(+line[3]);
                if ((line[0]=='100')&(line[1]!=='1126')){
                _$LOG(2,'TOP='+JSON.stringify(topic_list_fte)+'<br>'+JSON.stringify(topic_list)+'<br>');
                _$LOG(2,'PR='+JSON.stringify(project_list_fte)+'<br>'+JSON.stringify(project_list)+'<br>');


                }

            }
//            _$LOG(2,'res='+JSON.stringify(topic_list)+' '+JSON.stringify(project_list)+'<br>');
        
    $JS}
    <script>
        var el = document.getElementById('div_v1');
        //alert('scr all table #scroll_hor#');
        el.scrollLeft=#scroll_hor#; ??scroll_hor
    </script>    
    <table border=1 cellpadding=5 cellspacing=0>
    </br>
    <tr>
        $GET_DATA [get Totals]
        <td class="label">
            Количество ставок:
        </td><td>
            #sum_stavka#
        </td>
        <td class="label">
            Количество человек:
        </td><td>
            #persons_count#
        </td>

    </tr>
    </table>

    $INCLUDE [ffstyle] ??!of=xl

    <div ng-app="App">
      <section ng-controller="myCtrl" class="container-fluid"> ??!of=xl

      <main class=""> ??!of=xl
    <div id="div_v1" 
         class="div_v1"  class="table-wrapper"  ??!of=xl
    >



    <table class="tlist tgreen" cellspacing=0" border=1>
    <thead> 

        <tr>
            <th style="height:3em;" class="srh" sr="sotr.FIO">ФИО</th>

            <th   style="" class="srh" sr="sotr.FIO">ФИО</th> ??
            <th>Таб.№</th>
            <th class="headcol srh" sr="sotr.TopParent_name" >Отделение</th>
            <th class="headcol srh" sr="sotr.subTopParent_name" >Подразделение</th>
            <th class="headcol srh" sr="sotr.post">Должность</th> 
            <th class="headcol srh" sr="sotr.category">Категория</th>  
            <th class="headcol srh" sr="sotr.shtat_direct">Штат</th> 
            <th class="headcol  srh" sr="sotr.stavka">Ставка</th> 
            $GET_DATA [fte topics header] 
            $JS{
                var topics_hdr=prm('topics_header');
                var projects_hdr=prm('projects_header');
                for (i in topic_list){
                  _$LOG(2,'Topic='+i+' = '+topic_list_fte[i]+' '+topic_list[i]+'<br>');
                    if(topic_list_fte[i]>0.001) {
                        cost = (((topic_list[i]|0)/1000) / topic_list_fte[i]).toFixed(2);
                    }else {cost='-'};
                    tpval=parseInt((+(topic_list[i]|0))/1000)+'т.р.<br>1 FTE='+cost+'т.р.';
                    
                    rstr = 'topic_sum_'+i+'_';

                  _$LOG(2,'Topic='+i+' = '+topic_list_fte[i]+' '+topic_list[i]+'<br>'+tpval);
                    
                    topics_hdr = topics_hdr.replace(rstr,tpval);
                }
                
                for (i in project_list){
                  _$LOG(2,'Project='+i+' = '+project_list_fte[i]+' '+project_list[i]+'<br>');
                    if(project_list_fte[i]>0.001) {
                        cost = ((((project_list[i]|0)/1000) / project_list_fte[i])).toFixed(2);
                    }else {cost='-'};
                    
                    tpval=parseInt((+(project_list[i]|0))/1000)+'т.р.<br>1 FTE='+cost+'т.р.';
                    rstr = 'project_sum_'+i+'_';
                    projects_hdr = projects_hdr.replace(rstr,tpval);
                }
                topics_hdr = topics_hdr.replace(/topic_sum_\d*_/g,'0');
                projects_hdr = projects_hdr.replace(/project_sum_\d*_/g,'0');
                setPrm(('projects_header'),projects_hdr);
                setPrm(('topics_header'),topics_hdr);
            $JS}
     $LOG2 full_fte_sum #full_fte_sum# <br>
            <th  ">Предельный FTE</th>
            <th  ">Разница FTE</th>
            <th  "fte">Сумма FTE<br>#full_fte_sum#</th>
            #topics_header# 
        </tr>

        <tr>
            <th  
                style="top: 3em;width:0;height:0" ??!of=xl
            ></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            <th  style="top: 3em"></th>
            #projects_header# 
        </tr>    
        </thead>
        <tbody>
[end]

[select topics and project for user by rights]
    (SELECT * FROM (
    SELECT  ur.topic_id AS topic, ur.project_id AS project_id FROM user_rights ur WHERE ur.person_id = #USER_KOD_FL# AND ur.project_id !=0
      ) tmp_1
      LEFT JOIN projects p ON p.ID=tmp_1.project_id
      WHERE p.Topic_id = #selected_topic#  ??selected_topic
    ) utp
[end]

[select all topics and project]
    ( SELECT  short_name, topic_id AS topic, id AS project_id FROM projects
      WHERE Topic_id = #selected_topic#  ??selected_topic
    ) utp
[end]


[get summary]
    select (sum(percent) from fte f where f.tab_n=sotr.tab_n) as sum_fte from sotr 
    $INCLUDE utils.cfg[criteria];
    


[end]

[get money for topics]
    SELECT * FROM (
    SELECT 
       (SELECT SUM(percent) FROM FTE f WHERE f.tab_n=sotr.tab_n  ) AS sum_fte ,
       (SELECT group_CONCAT(topic_id,',',project_id,',',round( (percent/sum_fte),2 ),',',round(percent,2),',',round((percent/sum_fte)*o.itogo_n,0) ,',',round(o.itogo_n,0),',',o.tab_n,'_')
     FROM FTE f WHERE f.tab_n=sotr.tab_n  ) AS all_fte

    FROM sotrudniki sotr left join oklad o ON o.tab_n=sotr.tab_n  
     $INCLUDE utils.cfg[criteria] 
    ) aa
    WHERE all_fte IS not null;
[end]



[fte topics header]

    select 
     replace(ifnull(
    (
        SELECT SUM(PERCENT) FROM FTE f 
            WHERE   f.tab_n in (
            $INCLUDE [selected tabn]
            )
    )
    , 0),'.',',') as full_fte_sum
    FROM 
        $INCLUDE [select topics and project for user by rights] ??!fte_view
        $INCLUDE [select all topics and project] ??fte_view
limit 1;


    
    select concat("<th id=topic_",topic , "  style=""text-align:center""  colspan=",
    count(topic) ,
      ">",
    case when  topic=100 then "LHEP laboratory" else topic end
    ,"<br> "
    , replace(ifnull(
    (
        SELECT SUM(PERCENT) FROM FTE f 
            WHERE   f.topic_id = utp.topic
            and f.tab_n in (
            $INCLUDE [selected tabn]
            )
    )
    , 0),'.',',')
    , "<br>topic_sum_",topic,"_" ??fte_cost
   ,"</th>") as topics_header
    FROM 
        $INCLUDE [select topics and project for user by rights] ??!fte_view
        $INCLUDE [select all topics and project] ??fte_view
    GROUP BY utp.topic
    ORDER BY utp.topic;

    select 
     concat("<th  id=project_",utp.project_id , "  style=""top:3em;""  >",ifnull(short_name,""),"<br>",
    replace(ifnull(
    (
        SELECT SUM(PERCENT) FROM FTE f 
            WHERE   f.project_id = utp.project_id 
            and f.tab_n in (
            $INCLUDE [selected tabn]
            )
    )
    , 0),'.',',')
    , "<br>project_sum_",utp.project_id,"_" ??fte_cost

    ,"</th>") as projects_header 
     from      
        $INCLUDE [select topics and project for user by rights] ??!fte_view
        $INCLUDE [select all topics and project] ??fte_view

    order BY topic, short_name
    ;
[end]

    select concat("<th id=topic_",topic , "  style=""text-align:center""  colspan=",
    count(topic) ,
      ">",
    case when  topic=100 then "LHEP laboratory" else topic end
    ,"<br> "
    , replace(ifnull(
    (
        SELECT SUM(PERCENT) FROM FTE f 
            WHERE   f.topic_id = utp.topic
            and f.tab_n in (
            $INCLUDE [selected tabn]
            )
    )
    , 0),'.',',')
   ,"</th>") as topics_header
    FROM 
        $INCLUDE [select topics and project for user by rights] ??!fte_view
        $INCLUDE [select all topics and project] ??fte_view
    GROUP BY utp.topic
    ORDER BY utp.topic;



[get fte for tab_n]
    select 
     concat("<td  ",
    case ifnull(year(f.CHANGED),-1)
    when -1 then " bgcolor=FFFFFFFF "
    when YEAR(NOW()) then " bgcolor=02FFFF "
    else " bgcolor=ffc2c2 "
    END
    , 
      "onClick=""ShowDialog(true); AjaxCall('popupCont', 'c=edit/fte_v1&tab_n=#tab_n#&project_id=", ifnull(utp.project_id,-1), "', true);"" ", 
     "><div class=td_fte>",
     replace(ifnull(f.percent,0),'.',',')
    $IF !of=xl
        ,"<div  class=td_bottom_div >",
          ifnull( date_format(f.changed,'%d.%m.%y'),'')
        ,"</div>"
    $EIF 
    ,"</div>"
    ,"</td>") as tab_n_projects_fte, 
     concat(ifnull(f.percent,0),' + 0') as tab_n_summ_fte
    from 
        $INCLUDE [select topics and project for user by rights] ??!fte_view
        $INCLUDE [select all topics and project] ??fte_view
    LEFT JOIN FTE f ON f.project_id = utp.project_id and f.tab_n=#tab_n#
      order by utp.topic, utp.short_name;      

SELECT 
   (SELECT SUM(percent) FROM FTE f WHERE f.tab_n=sotr.tab_n  ) AS sum_fte ,
   (SELECT group_CONCAT('{' ,topic_id,',',project_id,',',percent/sum_fte,',',percent,'}') FROM FTE f WHERE f.tab_n=sotr.tab_n  ) AS all_fte
        from sotrudniki sotr
        $INCLUDE utils.cfg[criteria] 
;

    select ifnull(sum(percent),0) as summ_fte from FTE where tab_n=#tab_n#;

    SELECT  CASE WHEN #tab_n_summ_fte# #fte_mode# THEN 1 ELSE 0 end as in_row; ??fte_mode
[end]

    


[calc itogo]
    select round((#oklad#*#stavka#+#dopl_stepen#+ #other_work#+#add_work#+#kompens_rub#+#sovmeshenie#*#oklad#/100),2) as itogo_n;
[end]

[calc pred fte]
    select round(#stavka# * ( 1 +
         #add_work# * #stavka# /
        (#itogo_n# - #add_work# * #stavka# )
    ),2) as pred_fte;
[end]

[get diff fte]
    select round(#pred_fte#-#summ_fte#,2) 
        as diff_fte;
        select case when #diff_fte#<0 then '<p style="color:red">#diff_fte#</p>' 
                    when #diff_fte#>0 then '<p style="color:blue">#diff_fte#</p>' 
                    else '<p style="color:green">#diff_fte#</p>' end as diff_fte_c;
    select replace('#pred_fte#','.',',') as pred_fte;
    select replace('#summ_fte#','.',',') as summ_fte;
    select replace('#diff_fte_c#','.',',') as diff_fte_c;
    select replace('#stavka#','.',',') as stavka;


[end]


[item]
    $SET_PARAMETERS other_work=0;add_work=0;summ_fte=0;pred_fte=0;diff_fte=0
    $GET_DATA tab_salary_table.cfg[get doplaty]
    $GET_DATA tab_salary_table.cfg[calc itogo]
    $SET_PARAMETERS show_pred=#stavka#*(1+#add_work#*#stavka#/(#itogo_n#-#add_work#*#stavka#)
    $GET_DATA [calc pred fte]
    $SET_PARAMETERS in_row=1
    $GET_DATA [get fte for tab_n]  
    $GET_DATA [get diff fte]
    $INCLUDE [tab_n row] ??!in_row=-221
[end]

[tab_n row]
    ++++++++++++++++++ Строка таблицы - 1 документ +++++++++++++++++++++ ??
    <tr 
    class="pt oddRow" ??oddRow=1
    class="pt" ??!oddRow=1
    style="color:red" ??dismissed=Y
    > 
    <th> 
    #FIO#
    </th> 
    <td style="1border-right: none">#tab_n#</td>
    <td style="1border-right: none">
                #topparent_name#
    </td>
    <td style="1border-right: none;border-left: none">#subtopparent_name#</td>
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#post#</td>
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#category#</td>
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#shtat_direct#</td>
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#stavka#</td>
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#pred_fte#</td> 
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#diff_fte_c#</td> 
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#summ_fte#</td> 
    #tab_n_projects_fte# 
    </tr>
[end]
    <td style="padding:4px;border-left: 1;border-right: 1;border-bottom: 1">#itogo_n#&nbsp;</td> ??fin_admin=Y

[report footer]
    $SET_PARAMETERS NumTableCols=15;
    </tboby> 
    </table>
   
    </div>
  </main>
 </section>
</div>
    $INCLUDE dat/common.dat[rpp]  ??!NumTableRows=0|!of=xl

    <script type="text/javascript">
        console.log('AAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!!!!!!!!!!!!');
        showSrt("#srt#","sup"); ??!desc
        showSrt("#srt#","sdown"); ??desc
    </script>
[end]




[SQL]

    select * from (
        select 
            (select short_name from struktura where id =  topparent_code) as topparent_name, 
            (select short_name from struktura where id =  subtopparent_code) as subtopparent_name,
        sotr.person_id, sotr.tab_n, sotr.F, sotr.I, sotr.O, sotr.FIO, sotr.otdel
        , sotr.division, sotr.shtat_direct, sotr.post, sotr.category,sotr.stavka, oklad.year
        , round(oklad.oklad,0) as oklad
        , pred_fte
        , ifnull(oklad.kompens,0) as kompens
        , ifnull(oklad.kompens,0)*sotr.stavka*oklad.oklad/100 as kompens_rub
        , oklad.dopl_stepen
        , (100+kompens)/100* ifnull(oklad.sovmeshenie,0)*sotr.stavka*oklad.oklad/100 as sovmeshenie 
        ,case
             when  (ifnull(sotr.DataUvolen-CURRENT_DATE,1)<0)   then 'Y'
        else 'N' end as dismissed
        , ((YEAR(CURRENT_DATE)-YEAR(dr))-(DATE_FORMAT(CURRENT_DATE, '%m%d')<DATE_FORMAT(dr, '%m%d'))) AS age
        , ifnull(
            (
                    select sum(percent) from FTE 
                    where tab_n=sotr.tab_n
                    and  Topic_id = #selected_topic#  ??selected_topic

            ),0) as sumfte

        from sotrudniki sotr
        left join oklad on sotr.tab_n=oklad.tab_n
        $INCLUDE utils.cfg[criteria] 
        and #fte_filter# ??fte_filter
        order by #srt# #desc# ??srt
    ) tmp 
        where 1=1
        and tmp.sumfte #fte_mode# ??fte_mode
        and (pred_fte - tmp.sumfte) #fte_diff_mode# ??fte_diff_mode

[end]

[get total]
    select count(*) as persons_count,  round(sum(stavka),2) as sum_stavka from (
        select 
            (select short_name from struktura where id =  topparent_code) as topparent_name, 
            (select short_name from struktura where id =  subtopparent_code) as subtopparent_name,
        sotr.person_id, sotr.tab_n, sotr.F, sotr.I, sotr.O, sotr.FIO, sotr.otdel
        , sotr.division, sotr.shtat_direct, sotr.post, sotr.category,sotr.stavka, oklad.year
        , round(oklad.oklad,0) as oklad
        , pred_fte
        , ifnull(oklad.kompens,0) as kompens
        , ifnull(oklad.kompens,0)*sotr.stavka*oklad.oklad/100 as kompens_rub
        , oklad.dopl_stepen
        , (100+kompens)/100* ifnull(oklad.sovmeshenie,0)*sotr.stavka*oklad.oklad/100 as sovmeshenie 
        ,case
             when  (ifnull(sotr.DataUvolen-CURRENT_DATE,1)<0)   then 'Y'
        else 'N' end as dismissed
        , ((YEAR(CURRENT_DATE)-YEAR(dr))-(DATE_FORMAT(CURRENT_DATE, '%m%d')<DATE_FORMAT(dr, '%m%d'))) AS age
        , ifnull(
            (
                    select sum(percent) from FTE 
                    where tab_n=sotr.tab_n
                    and  Topic_id = #selected_topic#  ??selected_topic

            ),0) as sumfte

        from sotrudniki sotr
        left join oklad on sotr.tab_n=oklad.tab_n
        $INCLUDE utils.cfg[criteria] 
        and #fte_filter# ??fte_filter
        order by #srt# #desc# ??srt
    ) tmp 
        where 1=1
        and tmp.sumfte #fte_mode# ??fte_mode
        and (pred_fte - tmp.sumfte) #fte_diff_mode# ??fte_diff_mode
;
[end]


[selected tabn]

    select tab_n from (
        select 
        person_id, tab_n, sotr.F, sotr.I, sotr.O, sotr.FIO, sotr.otdel
        from sotrudniki sotr
        $INCLUDE utils.cfg[criteria] 
        and #fte_filter# ??fte_filter
        order by #srt# #desc# ??srt
    ) tmp 

[end]






