tab_fte_divtable.cfg

[comments]
descr=Таб "FTE"
input=none
output=HTML таблица объектов
parents=
author:Семашко
[end]

[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=U:Список документов
tableCfg=table_no
$INCLUDE dat/common.dat[rowLinks]
[end]

[ffstyle]
    $JS      rm.println("======!!!!!!!!include ffstyle  of = [#of#] :\n");
    <style>
    table {
    width: 100%;
    
}
.tdh {
    background-color: #5C753B;
    color: #fff;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
.tdb {
    background-color: #e0ebce;
    color: #111111;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

.thh {
    background-color: #5C753B;
    color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
1td {
    background-color: #0074d9;
    color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
}

.outer {
    position: relative
}
.inner {
    overflow-x: scroll;
    overflow-y: visible;
    width: 1000px;
    margin-left: 305px;
}

    </style>
[end]



[report header]
    $SET_PARAMETERS rpp=1??!rpp
    $JS      rm.println("======!!!!!!!!!!!!! of = [#of#] :\n");

    $INCLUDE [ffstyle] 

<div class="outer">
    <div class="inner">
    $JS setPrm('thstyle','style="height:3em;width:17em;background:green"')
    <table class="1tlist 1tgreen" 1cellspacing=0" 1border=1>
    
        <tr>
            <th  class=thh>
                            Отделение&nbsp;&nbsp;&nbsp;Отдел&nbsp;&nbsp;Сектор
            </th>
            $GET_DATA [fte topics header] 
            #topics_header# 
        </tr>

        <tr>
            <th class=thh
               style="height:4em"  ??aof=xl
            >&nbsp;<br>&nbsp;</th>
            #projects_header# 
        </tr>    
        <tbody>
[end]


[select all topics and project]
    ( SELECT  short_name, topic_id AS topic, id AS project_id FROM projects
      WHERE Topic_id = #selected_topic#  ??selected_topic
    ) utp
[end]



[fte topics header]
    $SET_PARAMETERS lvlx_filter=
    
    select concat("<td class=tdh style=""text-align:center""  colspan=",
    count(topic) ,
      ">",case when  topic=100 then "LHEP laboratory" else topic end,"</td>") as topics_header
    FROM 
        $INCLUDE [select all topics and project] 
    GROUP BY utp.topic
    ORDER BY utp.topic;
    
    select 
     concat("<td class=tdh style=""1top:3em;""  >",ifnull(short_name,""),"<br>",
    replace(ifnull(
    (
        SELECT SUM(PERCENT) FROM FTE f 
            WHERE   f.project_id = utp.project_id 
            and f.tab_n in ( 
            $INCLUDE [selected tabn]
            )
    )
    , 0),'.',','),

    "</td>") as projects_header 
     from      
        $INCLUDE [select all topics and project] 
    order BY topic, short_name
    ;


    select 
     concat(project_id,",") as project_list 
     from      
        $INCLUDE [select all topics and project]
    order BY topic, short_name
[end]

[item]
    $SET_PARAMETERS other_work=0;add_work=0;
    $SET_PARAMETERS show_pred=#stavka#*(1+#add_work#*#stavka#/(#itogo_n#-#add_work#*#stavka#)
    $SET_PARAMETERS in_row=1
    $INCLUDE [top div row] 
[end]

[top div row]
    ++++++++++++++++++ Строка таблицы - 1 документ +++++++++++++++++++++ ??
    <tr 
        class="pt oddRow" ??oddRow=1
        class="pt" ??!oddRow=1
        style="color:red" ??dismissed=Y
        > 
        $INCLUDE [get fte for top div]
        $SET_PARAMETERS div_fte_list=
        $EXECUTE_LOOP project_id;#project_list#;[get tree div  fte for project]
        $JS             setPrm('sub_divs_fte',fte_string);
        <th class=thh> 
           #names_tree#
        </th> 
        #sub_divs_fte#
    </tr>
[end]
[get sum fte for lvl_0 division]
    select 
     concat("<td  >",ifnull(short_name,""),"<br>",
    replace(ifnull(
    (
        SELECT SUM(PERCENT) FROM FTE f 
            WHERE   f.project_id = utp.project_id 
            and f.tab_n in ( 
            $INCLUDE [selected tabn]
            )
    )
    , 0),'.',','),

    "</td>") as div_fte 
     from      
        $INCLUDE [select all topics and project] 
    order BY topic, short_name
    ;
    SELECT SUM(PERCENT) as div_sum FROM FTE f 
        where  f.tab_n in ( 
        $INCLUDE [selected tabn]
        )

[end]

[get div lvl 0 fte]
   $GET_DATA SQL:select sum(percent) as div_fte from FTE f where f.project_id=#project_id#  and f.tab_n in (select tab_n from sotrudniki where topparent_code=#div_id#) 
[end]
[get div lvl 1 fte]
   $GET_DATA SQL:select sum(percent) as div_fte from FTE f where f.project_id=#project_id#  and f.tab_n in (select tab_n from sotrudniki where subtopparent_code=#div_id#) 
[end]
[get div lvl 2 fte]
    
   $GET_DATA SQL:select sum(percent) as div_fte from FTE f where f.project_id=#project_id#  and f.tab_n in (select tab_n from sotrudniki where lvl3_div_code=#div_id#) 
[end]

[get tree div  fte for project]
$LOG2 *******************[get div tree fte for project]*********************<br>
    $JS{
            function toComma(val){
                return (val+' ').replace('.',',').trim();
            }
            var project_id = prm('project_id');
            _$INCLUDE("[get div lvl 0 fte] param:div_id="+lvl0_code+";project_id="+project_id); 
            
            var lvl0_fte = prm('div_fte');
            
            if (lvl0_fte.length ==0 ){
                lvl0_fte = 0;
            }
            var name_tree='';
            _$LOG(2,'lvl1_codes = '+JSON.stringify(lvl1_codes)+'<br>')
            _$LOG(2,'lvl2_codes = '+JSON.stringify(lvl2_codes)+'<br>')
            var rowstr = '<table class=ftes_tree style="margin:0 auto!important;" ><tr><td class=tdb rowspan='+leepcnt+'>'+toComma(lvl0_fte)+'</td>';
            for (lvl1=0;lvl1<lvl1_codes.length;lvl1++){
                if (lvl1_codes[lvl1].length<1){
                    name_tree = rowstr+'</tr>';
                    break;
                }
                _$LOG(2,'***************process lvl1 = '+lvl1_codes[lvl1]+'='+lvl1_names[lvl1]+'<br>')
                setPrm('div_fte','')
                _$INCLUDE("[get div lvl 1 fte] param:div_id="+lvl1_codes[lvl1]+";project_id="+project_id); 
                var div_fte = prm('div_fte');
                if (div_fte.length ==0 ){
                    div_fte = 0;
                }

                if (rowstr.length>0){
                    rowstr += '<td  class=tdb rowspan='+lvl2_codes[lvl1].length+'>'+toComma(div_fte)+'</td>'
                } else {
                    rowstr = '<tr><td  class=tdb rowspan='+lvl2_codes[lvl1].length+'>'+toComma(div_fte)+'</td>'
                }
                for (lvl2=0;lvl2<lvl2_codes[lvl1].length;lvl2++){
                    var lvl2_name=lvl2_codes[lvl1][lvl2];
                    if (lvl2_name.length == 0){
                        name_tree+=rowstr+'</tr>';
                        rowstr='';
                       _$LOG(2,lvl2+'  ***2222222222222***EMPTY process lvl2 = '+lvl2_name+'<br>')
                        break;
 
                    }
                    _$LOG(2,lvl2+'  ***2222222222222************process lvl2 = '+lvl2_name+'<br>')
                    prmSet('div_fte','')
                    _$INCLUDE("[get div lvl 2 fte] param:div_id="+lvl2_codes[lvl1][lvl2]+";project_id="+project_id); 
                    div_fte = prm('div_fte');
                    if (div_fte.length ==0 ){
                        div_fte = 0;
                    }
                    if (div_fte.length ==0 ){
                        div_fte = 0;
                    }

                       _$LOG(2,'||||||||||||||||||||| lvl2_name = '+lvl2_name+' fte='+div_fte+'<br>')
                    if (rowstr.length>0){
//                        if (lvl2_name.length>0){
                            rowstr += '<td  class=tdb>'+toComma(div_fte)+'</td></tr>';
//                        } else {
//                            rowstr += '</tr>';
//                        }
                    } else {
                            rowstr = '<tr><td  class=tdb>'+toComma(div_fte)+'</td></tr>'
                    }
                    rm.println("rowstr="+rowstr);
                    rm.println("name_tree="+name_tree);
                    name_tree+=rowstr;
                    rowstr='';
                    
                }
            }
            name_tree+='</table>';
            fte_string += '<td>'+name_tree+'</td>';
            rm.println("!!!!final name_tree="+name_tree);
            rm.println("!!!!fte string = "+fte_string);
            setPrm('fte_tree',name_tree);
    $JS}
    $LOG2 +++++++++++++++++++++++++++++++++++++++++++fte_tree#fte_tree#<br>
    $SET_PARAMETERS div_fte_list=#div_fte_list#<td>#fte_tree#</td>
[end]
      <table><tr><td>1</td><td>2</td></tr><tr><td>1</td><td>2</td></tr></table>


[get fte for top div]
    $SET_PARAMETERS names_tree=<table class=names_tree ><tr><th class=tdh rowspan=0 >#short_name#</th></table>; 
    $SET_PARAMETERS  parent_div_code=#id#
    $SET_PARAMETERS  parent_div_name=#short_name#
    $SET_PARAMETERS  lvl0_code=#id#
    $SET_PARAMETERS  lvl0_name=#short_name#
    
    $JS{
      var leepcnt = 0  
      var lvl1_names = [''];
      var lvl1_codes = [''];
      var lvl2_names = [['']];
      var lvl2_codes = [['']];
      var lvl0_name = prm('lvl0_name');
      var lvl0_code = prm('lvl0_code');
      var fte_string = '';
    $JS}
    $SET_PARAMETERS  lvlx_filter=and sotr.topparent_Code=#id#  
    $GET_DATA [get sum fte for lvl_0 division] ??
    $SET_PARAMETERS lvl1_codes=;lvl1_names
    $GET_DATA SQL:select concat(id,',') as lvl1_codes, concat(short_name,',') as lvl1_names from struktura where pid = #parent_div_code# order by short_name
    $IF lvl1_codes
        $JS{
            lvl1_names = prm('lvl1_names').slice(0,-1).split(',');
            lvl1_codes = prm('lvl1_codes').slice(0,-1).split(',');

            _$LOG(2,' lvl1_codes = '+JSON.stringify(lvl1_codes)+' '+JSON.stringify(lvl1_names)+'<br>')
            var sub_cnt = lvl1_names.length;
            setPrm('divcnt',sub_cnt);
            lvl2_codes =[];
            lvl2_names =[];
            for (var lvl1 =0;lvl1<lvl1_names.length;lvl1++){
                _$LOG(2,' lvl1('+lvl1+')='+lvl1_codes[lvl1]+'&nbsp'+lvl1_names[lvl1]+'<br>')
                setPrm('sub_divs_code','');
                setPrm('sub_divs_name','');
                _$GET_DATA("SQL:select concat(id,\',\') as sub_divs_code, concat(short_name,\',\') as sub_divs_name from struktura where pid ="+lvl1_codes[lvl1])
                var names=prm('sub_divs_name');
                var codes=prm('sub_divs_code');
                if (names.length>1){
                   lvl2_codes.push(codes.slice(0,-1).split(','));
                   lvl2_names.push(names.slice(0,-1).split(','));

                } else {
                   lvl2_codes.push(['']);
                   lvl2_names.push(['']);
                }
                _$LOG(2,'   lvl1&nbsp-&nbsp'+lvl1_names[lvl1]+'('+lvl1_codes[lvl1]+')&nbsp=&nbsp'+JSON.stringify(lvl2_codes[lvl1])+'<br>')
            }
            _$LOG(2,'<br>+++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>'+lvl0_name+' = '+lvl0_code+'<br>')
            var name_tree = '';
            
            var leepcnt = 0;
            _$LOG(2,'   count span++-+-+-+-+-+-+-++ '+lvl0_name+' (0)len='+lvl2_names[0].length+'<br>')
            for (lvl1=0;lvl1<lvl2_codes.length;lvl1++){
                _$LOG(2,'   count span++-+-+-+-+-+-+-++ '+lvl2_names[lvl1]+'(len)= '+lvl2_names[lvl1].length+'<br>')
                leepcnt+=lvl2_codes[lvl1].length
            }    
            var rowstr = '<table class=names_tree ><tr><td class=tdh rowspan='+leepcnt+' width=121>'+lvl0_name+'</td>';

            for (lvl1=0;lvl1<lvl1_codes.length;lvl1++){
                if (rowstr.length>0){
                    rowstr += '<td class=tdh rowspan='+lvl2_codes[lvl1].length+'>'+lvl1_names[lvl1]+'</td>'
                } else {
                    rowstr = '<tr><td class=tdh rowspan='+lvl2_codes[lvl1].length+'>'+lvl1_names[lvl1]+'</td>'
                }
                
                _$LOG(2,'|&nbsp;&nbsp;&nbsp;&nbsp;'+lvl1_names[lvl1]+' = '+lvl1_codes[lvl1]+'<br>')
                _$LOG(2,'|&nbsp;&nbsp;&nbsp;&nbsp;'+JSON.stringify(lvl2_codes[lvl1])+'<br>')
                
                for (lvl2=0;lvl2<lvl2_codes[lvl1].length;lvl2++){
                    var lvl2_name=lvl2_names[lvl1][lvl2];
                    if (lvl2_name.length>2) {
                        lvl2_name=lvl2_names[lvl1][lvl2].split(' ');
                        lvl2_name = lvl2_name.slice(0,2).join('&nbsp;');
                    } else {
                        lvl2_name = '';
                    }
                    _$LOG(2,'^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^lvl2_name = '+lvl2_name+'<br>')
                    lvl2_names[lvl1][lvl2] = lvl2_name;
                    if (rowstr.length>0){
                        if (lvl2_name.length>0){
                            rowstr += '<td class=tdh>'+lvl2_name+'</td></tr>';
                        } else {
                            rowstr += '</tr>';
                        }
                        
                    } else {
                        if (lvl2_name.length>0){
                            rowstr = '<tr><td class=tdh>'+lvl2_name+'</td></tr>'
                        } 
                    }
                    name_tree+=rowstr;
                    rowstr='';
                    
                    _$LOG(2,'|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+lvl2_names[lvl1][lvl2]+' = '+lvl2_codes[lvl1][lvl2]+'<br>')
                }

            }
            name_tree+='</table>';
            setPrm('names_tree',name_tree);
            setPrm('lvl1_codes',JSON.stringify(lvl1_codes));
            setPrm('lvl1_names',JSON.stringify(lvl1_names));
            setPrm('lvl2_codes',JSON.stringify(lvl2_codes));
            setPrm('lvl2_names',JSON.stringify(lvl2_names));
        $JS}
    $EIF  
    $LOG2 ============================ lvl0_code=#lvl0_code# lvl0_name=#lvl0_name# <br>
    $LOG2 lvl1_names=#lvl1_names# lvl1_codes=#lvl1_codes# <br>
    $LOG2 lvl2_names=#lvl2_names# lvl2_codes=#lvl2_codes# <br>
[end]

[report footer]
    </tboby> 
    </table>
    </div>
</div>
    $INCLUDE dat/common.dat[rpp by 1]  ??!NumTableRows=0
    <input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0



    <script type="text/javascript">
        console.log('AAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!!!!!!!!!!!!');
        showSrt("#srt#","sup"); ??!desc
        showSrt("#srt#","sdown"); ??desc
    </script>
[end]




[SQL]
    select * from struktura where 
        id=150000??
        pid=#LAB_ID#;
[end]

[selected tabn]
    select tab_n from (
        select 
        person_id, tab_n, sotr.F, sotr.I, sotr.O, sotr.FIO, sotr.otdel
        from sotrudniki sotr
        $INCLUDE utils.cfg[criteria] 
        and #fte_filter# ??fte_filter
        #lvlx_filter#
        order by #srt# #desc# ??srt
    ) tmp 

[end]






