TEMPLATE

[comments]
[end]

[description]
[end]

[get room ppls]
    SELECT group_CONCAT(tab_n,'|',
    (SELECT concat(fio,'|', s.subtopparent_name,'|', s.topparent_name)  FROM sotrudniki s  WHERE s.tab_n=a.tab_n) ,'|'
    ) AS ppls
    FROM accommodation_v2 a WHERE a.building=#building_id# and room_id='#room_id#' 
;
    SELECT ext_use   FROM floors_info WHERE id='#room_id#' ;
    SELECT commentary   FROM floors_info WHERE id='#room_id#' ;
[end]


[report]

    $GET_DATA [get room ppls]
    $LOG2room_num #room_num# <br>
    $JS{
        var ppls_txt = prm('ppls');
        var ppls = ppls_txt.split(',');
        var tbls = '<table   id=roomppls_#room_id#>';
             _$LOG(2,'gen ppls tbl <br>');
        if (prm('ext_use').length>1){
                tbls +='<tr >';
                tbls +='<td class=plan_popup_td nowrap  >';
                tbls += prm('ext_use');
                tbls +='</td>';
                tbls +='<td nowrap class=plan_popup_td >';
                tbls += 'Аренда';
                tbls +='</td nowrap  >';
                tbls +='<td nowrap style="padding:5px;" >'; ??rooms_addremove_ppls
                tbls += '<input type=button class=plan_btn '+       ??rooms_addremove_ppls
                        ' value=Удалить onclick="removeSotrFromRoom(#room_id#,-100, \''+prm('ext_use') +'\' ,\'#room_num#\', \'Аренда\')"> ';??rooms_addremove_ppls
                tbls +='</td>'; ??rooms_addremove_ppls

                tbls +='</tr>';
 }

                tbls +='<tr >';
                tbls +='<td colspan=3 class=plan_popup_td>';
                tbls += 'Заметка';
                tbls +='</td>';

                tbls +='</tr>';


                tbls +='<tr >';
                tbls +='<td colspan=4  style="border: 1px solid;"  >';
                tbls +='<textarea name=commentary rows="4" cols="60">';
                tbls +=    prm('commentary');
                tbls +='</textarea>';
                tbls +='<td nowrap >'; 
                tbls += '<input type=button class=plan_btn '+
                        ' value=Изменить onclick="save_room_comment(#room_id#,-100, \''+prm('commentary') +'\' )"> ';
                tbls +='</td>'; 
                tbls +='</tr>';

                tbls +='<tr >';
                tbls +='<td colspan=3 class=plan_popup_td > ';
                tbls += 'Сотрудники';
                tbls +='</td>';

                tbls +='</tr>';



        for (ip in ppls){
            pers = ppls[ip].split('|');
            if (pers.length<3){continue};
                tbls +='<tr >';
             _$LOG(2,'id= #room_id#'+ppls[ip]+' '+pers.length+'<br>');
                tbls +='<td class=plan_popup_td nowrap  >';
//                tbls += pers[0];
                tbls +='</td>';
                tbls +='<td class=plan_popup_td nowrap  >';
                tbls += pers[1];
                tbls +='</td>';
                tbls +='<td nowrap class=plan_popup_td >';
                tbls += pers[2];
                tbls +='</td nowrap  >';
                tbls +='<td nowrap class=plan_popup_td  >';
                if (pers[3]!=pers[2]){
                    tbls += pers[3];
                }
                tbls +='</td nowrap  >';


                tbls +='<td nowrap style="padding:5px;" >'; ??rooms_addremove_ppls
                tbls += '<input type=button class=plan_btn '+       ??rooms_addremove_ppls
                        ' value=Удалить onclick="removeSotrFromRoom(#room_id#,'+pers[0]+', \''+pers[1] +'\' ,\'#room_num#\', \''+ pers[2] +  '\')"> ';??rooms_addremove_ppls
                tbls +='</td>'; ??rooms_addremove_ppls

            tbls +='</tr>';
        }
        tbls +='</table>';
        setPrm('pplstbl',tbls);
        
    $JS}
  #pplstbl#
[end]