edit/bonus.cfg

[comments]
descr=Редактирование фонда премии  
input=ist_div - отдел источник премии btype тип (fzp fmp nica и т.д.) month year
output= обновление 
parents=tab_bonus_fond_table.cfg

testURL=?c=edit/bonus_fond
author=Семашко
[end]

[description]
Редактирование фонд премии  
[end]


[parameters]
service=dubna.walt.service.Service
[end]


[report]
    $LOG2 is111111111111ssssssssssssssss #bnstype# <br>
    $SET_PARAMETERS show_edit=
    $SET_PARAMETERS show_edit=Y 
    $INCLUDE [edit bonus form]
[end]

[edit bonus form]
    $SET_PARAMETERS changed_by=-1
    $IF cop=save
        $SET_PARAMETERS ist_id=
        $SET_PARAMETERS ist_id=90   ??bnstype=fzp
        $SET_PARAMETERS ist_id=1000 ??bnstype=nica
        $SET_PARAMETERS ist_id=2000 ??bnstype=fmp
        $SET_PARAMETERS ist_id=3000 ??bnstype=other
        $SET_PARAMETERS ist_id=4000 ??bnstype=jinr
        $LOG2 isssssssssssssssss #ist_id# #btype# <br>
        $SET_PARAMETERS summa= ??summa=0
        $GET_DATA [deleteRecord] ??!summa
        $GET_DATA [updateRecord] ??summa
        <script>
            HideDialog(); doSubmit(); 
            alert('#ERROR#'); ??ERROR
        </script>
        $BREAK 
    $EIF
    $SET_PARAMETERS selbtype=ist_id=1000 ??btype=nica
    $SET_PARAMETERS selbtype=ist_id<101  ??btype=fzp
    $SET_PARAMETERS selbtype=ist_id<101  ??btype=other
    $SET_PARAMETERS selbtype=ist_id=2000 ??btype=fmp
    $SET_PARAMETERS selbtype=ist_id=3000 ??btype=other
    $SET_PARAMETERS selbtype=ist_id=4000 ??btype=jinr

    $SET_PARAMETERS summa=;changed=;changed_by=;comment=
    $GET_DATA SQL:select short_name as ist_short_name from struktura where id=#ist_div#
    $GET_DATA SQL:select summa,changed,changed_by, comment  from bonus_fond where year = #year# and month = #month# and #selbtype# and ist_div=#ist_div#
    $SET_PARAMETERS changed_by_fio=
    $GET_DATA SQL:select distinct fio as changed_by_fio  from sotrudniki  where person_id = #changed_by# ??changed_by
    

    <form id="popupForm" name="popupForm" method="post">
    <input type=hidden name="c" value="#c#">
    <input type=hidden name="cop" value="">
    <input type=hidden name="btype" value="#btype#">
    <input type=hidden name="mode" value="edit">
    <input type=hidden name="month" value="#month#">
    <input type=hidden name="year" value="#year#">
    <input type=hidden name="bnstype" value="#btype#">
    <input type=hidden name="ist_id" value="#ist_id#">
    <input type=hidden name="ist_div" value="#ist_div#">
    <table border=1 cellspacing=2 cellpadding=3>
    <tr><th>Изменил</th><td>#changed_by_fio#</td></tr>
    <tr><th>Дата изменения</th><td>#changed#</td></tr>

    <tr><th>Месяц</th> ??
    $INCLUDE [month]</tr> ??
    $SET_PARAMETERS ist=ФМП ??btype=fmp
    $SET_PARAMETERS ist=ФЗП ??btype=fzp
    $SET_PARAMETERS ist=ФЗП ??btype=other
    $SET_PARAMETERS ist=NICA ??btype=nica
    $SET_PARAMETERS ist=Причие ??btype=other
    $SET_PARAMETERS ist=ОИЯИ ??btype=jinr
    $INCLUDE [view form]  
    </center>
    </form>
    <br/>
    $INCLUDE utils.cfg[window to cursor]
    <script>
    HideDialog(); doSubmit(); ??cop=save&!ERROR
    alert('#ERROR#'); ??ERROR
    //debugger; 
    centerDialog();

    function ChangeMonth(){
        document.popupForm.mode.value="";
        AjaxCall('popupCont','', true, 'popupForm');
    }
    </script>
[end]

 
[view form]
    $JS setPrm('monthtxt',monthKvartal(prm('month')));
    <tr><th>Фонд премии за</th><td>#monthtxt# #year#г.</td></tr>
    <tr><th>Источник</th><td>#ist#</td></tr> ??!btype=jinr
    <tr><th>Направление</th><td>#ist#</td></tr> ??btype=jinr
    $IF !btype=1other
        <tr><th>Фонд</th><td>#ist_short_name#</td></tr>
        <tr>
            <th>Сумма</th>
            <td>
                <input type=text name="summa" value="#summa#" size=20>
            </td>
        </tr>
    $EIF    
    $INCLUDE [other division] ??show_other=Y
    </table>
    <center>
    <br>
    <input type="button" value="Закрыть" onClick="HideDialog();">
    <input type="button" value="Сохранить" 
    onClick="document.popupForm.cop.value='save'; 
    AjaxCall('popupCont','', true, 'popupForm'); ">
[end]

[other division]
    <tr><th colspan=2   ></th></tr>
    <tr><th colspan=2  style="border:2pt solid navy;padding:5px" >Премии других отделов</th></tr>
    $GET_DATA [get other div]
    #otherdiv#
[end]

[get other div]
    select CONCAT(
      '<tr><td>Фонд</td><td>',
      (select short_name from struktura where id = (select pid from struktura where id =ist_div)),
       '<br>',(select short_name from struktura where id=ist_div),'</td></tr>',
      '<tr><td>Сумма</td><td> ', summa,'</td></tr>',
      '<tr style="border-bottom:2pt solid black;" ><td style="border-bottom:2pt solid black;" >Основание</td><td style="border-bottom:2pt solid black;" >' ,COMMENT,'</td></tr><tr>') as otherdiv from bonus_v1 where tab_n = #tab_n# and year = #year# and month = #month# and #selbtype# and ist_div!=#ist_div#
[end]

[updateRecord]
    replace bonus_fond
       (year,month, ist_id, ist_div, summa, changed_by) 
       values( #year#, #month#, #ist_id#, #ist_div#, #summa#, #USER_ID#)
[end]
[deleteRecord]
    delete from  bonus_fond where year=#year#  and month=#month#  and ist_id=#ist_id# and ist_div=#ist_div#
[end]

