edit/bonus.cfg

[comments]
descr=Редактирование премии  сотрудника
input=tab_n FIO ist_div - отдел источник премии btype тип (fzp fmp nica и т.д.)
output= обновление 
parents=tab_premii_table.cfg

testURL=?c=edit/bonus_v0
author=Семашко
[end]

[description]
Редактирование премии   сотрудника
[end]


[parameters]
service=dubna.walt.service.Service
[end]
[GET WR MODE]
SELECT
case
when ifnull(wr.readonly,0) = 1 then 1
else 0
END
as bonus_readonly
FROM bonus_calend bc left join lit_bonus_wrmode wr ON bc.id = wr.month  and  wr.year=#year# where  bc.id=#month#
[end]
        <script>
            HideDialog(); doSubmit(); 
            alert('#ERROR#'); ??ERROR
        </script>

[report]
$SET_PARAMETERS    SOC_code=5000
$SET_PARAMETERS    STIMUL_code=6000
$SET_PARAMETERS    NHP_code=7000

 $GET_DATA [GET WR MODE]
       <script> alert('Премия закрыта для изменения ');HideDialog();  </script>      ??bonus_readonly=1--- 
       $BREAK   ??bonus_readonly=1--- 
    $LOG2 is111111111111ssssssssssssssss #bnstype# <br>
    $SET_PARAMETERS show_edit=
    $SET_PARAMETERS show_edit=Y 
    $INCLUDE [edit bonus form]
[end]

[edit bonus form]
    $SET_PARAMETERS changed_by=-1
    $IF cop=save
        $SET_PARAMETERS ist_id=
        $SET_PARAMETERS ist_id=90   ??bnstype=fzp
        $SET_PARAMETERS ist_id=2000 ??bnstype=fmp
        $SET_PARAMETERS ist_id=3000 ??bnstype=other
        $SET_PARAMETERS ist_id=#STIMUL_code# ??bnstype=STIMUL
        $SET_PARAMETERS ist_id=#NHP_code# ??bnstype=NHP
        $SET_PARAMETERS ist_id=#SOC_code#0 ??bnstype=SOC
        $LOG2 isssssssssssssssss #ist_id# #btype# <br>
        $SET_PARAMETERS summa= ??summa=0
        $GET_DATA [deleteRecord] ??!summa&ist_id
        $GET_DATA [updateRecord] ??summa&ist_id
        <script>
            HideDialog(); doSubmit(); 
            alert('#ERROR#'); ??ERROR
        </script>
        $BREAK 
    $EIF
    $LOG2 =================== btype #btype# <br>
    $SET_PARAMETERS selbtype=ist_id<101  ??btype=fzp
    $SET_PARAMETERS selbtype=ist_id=2000 ??btype=fmp
    $SET_PARAMETERS selbtype=ist_id=3000 ??btype=other
    $SET_PARAMETERS selbtype=ist_id=4000 ??btype=jinr
    $SET_PARAMETERS selbtype=ist_id=#STIMUL_code# ??btype=STIMUL
    $SET_PARAMETERS selbtype=ist_id=#SOC_code# ??btype=SOC
    $SET_PARAMETERS selbtype=ist_id=#NHP_code# ??btype=NHP
    
    $SET_PARAMETERS summa=;changed=;changed_by=;comment=
    $GET_DATA SQL:select short_name as ist_short_name from struktura where id=#ist_div#
    $GET_DATA SQL:select summa,changed,changed_by, comment  from lit_bonus_v0 where tab_n = #tab_n# and year = #year# and month = #month# and #selbtype# and ist_div=#ist_div#
    $SET_PARAMETERS changed_by_fio=
    $GET_DATA SQL:select distinct fio as changed_by_fio  from sotrudniki  where person_id = #changed_by# ??changed_by
    

    <form id="popupForm" name="popupForm" method="post">
    <input type=hidden name="c" value="#c#">
    <input type=hidden name="cop" value="">
    <input type=hidden name="btype" value="#btype#">
    <input type=hidden name="FIO" value="#FIO#">
    <input type=hidden name="mode" value="edit">
    <input type=hidden name="month" value="#month#">
    <input type=hidden name="year" value="#year#">
    <input type=hidden name="bnstype" value="#btype#">
    <input type=hidden name="ist_id" value="#ist_id#">
    <input type=hidden name="ist_div" value="#ist_div#">
    <input type=hidden name="tab_n" value="#tab_n#">
    <table border=1 cellspacing=2 cellpadding=3>
    <tr><th>ФИО</th><td >#FIO#</td></tr>
    <tr><th>Табельный №</th><td>#tab_n#</td></tr>
    <tr><th>Изменил</th><td>#changed_by_fio#</td></tr>
    <tr><th>Дата изменения</th><td>#changed#</td></tr>

    <tr><th>Месяц</th> ??
    $INCLUDE [month]</tr> ??
    $SET_PARAMETERS ist=ФМП ??btype=fmp
    $SET_PARAMETERS ist=ФЗП ??btype=fzp
    $SET_PARAMETERS ist=Прочее ??btype=other
    $SET_PARAMETERS ist=ОИЯИ ??btype=jinr
    $SET_PARAMETERS ist=NICA ??btype=nica
    $SET_PARAMETERS ist=Стимулирование ??btype=STIMUL
    $SET_PARAMETERS ist=НХП ??btype=NHP
    $SET_PARAMETERS ist=Соц.Быт.??btype=SOC
    $INCLUDE [view form]  
    </center>
    </form>
    <br/>
    $INCLUDE utils.cfg[window to cursor]
    <script>
    HideDialog(); doSubmit(); ??cop=save&!ERROR
    alert('#ERROR#'); ??ERROR
    //debugger; 
    centerDialog();

    function ChangeMonth(){
        document.popupForm.mode.value="";
        AjaxCall('popupCont','', true, 'popupForm');
    }
    </script>
[end]

 
[view form]
    $JS setPrm('monthtxt',monthKvartal(prm('month')));
    <tr><th>Премия за</th><td>#monthtxt# #year#г.</td></tr>
    <tr><th>Источник</th><td>#ist#</td></tr>
    $IF !btype=aaother
        <tr><th>Фонд</th><td>#ist_short_name#</td></tr>
        <tr>
            <th>Сумма</th>
            <td>
                <input type=text id=summ name="summa" value="#summa#" size=20
                    disabled ??bonus_readonly=1
                   >
            </td>
        </tr>
        <tr>
            <th>
                Основание
            </th>
            <td>
                <input type=text id=comm name="comment" value="#comment#" size=20
                    disabled ??bonus_readonly=1

               >
            </td>
        </tr>
    $EIF    
    $INCLUDE [other division] ??show_other=Y
    </table>
    <center>
    <br>
    <input type="button" value="Закрыть" onClick="HideDialog();"> 
    <input type="button" value="Сохранить"  ??!bonus_readonly=1
    onClick="document.popupForm.cop.value='save'; ??!bonus_readonly=1
    var tt = document.getElementById('comm');  ??!bonus_readonly=1
    var sumtt = document.getElementById('summ').value.trim(); ??!bonus_readonly=1
    if (parseInt(sumtt) == '0') {sumtt = ''} ??!bonus_readonly=1
    $LOG2 need_comment=#need_comment# <br> ??!bonus_readonly=1
    $IF need_comment=Y ??!bonus_readonly=1
        if ((trim(tt.value) == '') & (sumtt!='')) { ??!bonus_readonly=1
            alert('основание не должно быть пустым'); ??!bonus_readonly=1
        } else {??!bonus_readonly=1
            AjaxCall('popupCont','', true, 'popupForm'); ??!bonus_readonly=1
        }??!bonus_readonly=1
    $ELSE??!bonus_readonly=1
        AjaxCall('popupCont','', true, 'popupForm'); ??!bonus_readonly=1
    $EIF??!bonus_readonly=1
    "> ??!bonus_readonly=1
[end]

[other division]
    <tr><th colspan=2   ></th></tr>
    <tr><th colspan=2  style="border:2pt solid navy;padding:5px" >Премии других подразделений</th></tr>
    $GET_DATA [get other div]
    #otherdiv#
[end]

[get other div]
    select CONCAT(
      '<tr><td>Фонд</td><td>',
      (select short_name from struktura where id = (select pid from struktura where id =ist_div)),
       '<br>',(select short_name from struktura where id=ist_div),
       '<br>',(select concat(F,' ',I,' ',O) from i_fizlitsa fl where fl.id = changed_by),
       
       '</td></tr>',
      '<tr><td>Сумма</td><td> ', summa,'</td></tr>',
      '<tr style="border-bottom:2pt solid black;" ><td style="border-bottom:2pt solid black;" >Основание</td><td style="border-bottom:2pt solid black;" >' ,COMMENT,'</td></tr>',
      '<tr style="border-bottom:2pt solid black;" ><td style="border-bottom:2pt solid black;" >Дата изменения</td><td style="border-bottom:2pt solid black;" >' ,changed,'</td></tr>'
    )
         as otherdiv 
    from lit_bonus_v0 where tab_n = #tab_n# and year = #year# and month = #month# and #selbtype# and ist_div!=#ist_div#
[end]

[updateRecord]
    replace lit_bonus_v0
       (tab_n, year,month, ist_id, ist_div, summa, changed_by, comment) 
       values(#tab_n#, #year#, #month#, #ist_id#, #ist_div#, #summa#, #USER_ID#, '#comment#')
[end]
[deleteRecord]
    delete from  lit_bonus_v0 where tab_n=#tab_n# and year=#year#  and month=#month#  and ist_id=#ist_id# and ist_div=#ist_div#
[end]

