body {
    min-width: 500px;
    margin: 0;
    padding: 0;
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.container {
    margin: 0 auto;
}
.main_select {
    font-size: 12px;
    width: 110px;
}
.container:after {
    content: '';
    clear: both;
    display: table;
}


.main-header {
    padding: 0px;
    background: lightgray;
}

.header {
    min-height: 50px;
}

.header::after {
    display: table;
    clear: both;
    content: "";
}

.logo {
    float: left;
    margin-left: 50px;
    width: 250px;
    height: 85px;
}

.logo img {
    display: block;
}

.main-menu {
    float: right;
    padding-right: 50px;
    width: 650px;
    margin: 30px;
    text-align: center;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    color: #000000;
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: underline;
}

.main-menu a:active {
    text-decoration: none;
    opacity: 0.3;
}


/*STRUCTURA_LIT*/

.structure {
    margin: 5px;
}

.block1 {
    float: left;
    /*    border: 2px solid grey;*/
}

.structure .layout-column1 {
    width: 450px;
    min-height: 100%;
}

.structure .layout-column2 {
    width: 450px;
    min-height: 100%;
}

.block2 {
    margin-left: 460px;
    /*    border: 2px solid red;*/
}

.structure .layout-column3 {
    height: 839px;
    width: 1438px;
    max-width: 100%;
    max-height: 100%;
    background: yellow;
}

.structure .layout-column:last-child {
    margin-right: 0;
}

.feature {
    padding: 0px;
    text-align: left;
}

.feature h2 {
    text-align: center;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 400px;
}

.menu ul {
    margin: 0;
    padding: 0px 0px;
    padding-left: 25px;
    list-style: none;
}

.structure .layout-column4 {
    width: 450px;
    min-height: 100%;
}

.layout-column4 a {
    display: block;
    margin-bottom: -5px;
    padding: 0px 0px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.tablica {
    position: absolute;
    top: 120px;
    left: 465px;
    height: 848px;
    min-width:500px;
    /*max-width: 100%;*/
    max-height: 100%;
    background: #778899;
    overflow: auto;
    z-index: 2000;
}



.structure .layout-column5 {
    width: 450px;
    min-height: 100%;
}

.structure .layout-column6 {
    width: 450px;
    min-height: 100%;
}

#outputSelect {
/*    display: flex;
*/    display: inline-block;
    padding-left: 0px;
}
#select_get_building_id {
    width: 50px;

}
#selectFloorId {
    width: 50px;
}
label {
    font-size: 15px;
}
#label {
    font-family: 'Avantgarde';
    /*display: flex;*/
    padding-left: 0px;
    font-size: 15px;
    display: inline-block;
}
/* границы €чеек первого р€да таблицы */
th {
    font-size: 30px;
    font-family: 'Avantgarde';
    border: 1px solid grey;
    background-color: #C8FFD7;
}
h1 {
    font-size: 25px;
    /*margin-left: 15px;*/
    font-family: 'Avantgarde';
    /*margin: 10px auto;*/
}
h2 {
    font-family: 'Avantgarde';
    font-weight: 600;
}

button {
    font-family: 'Avantgarde';
    font-size: 10px;
    background-color: #D6F1DD;
    border: 1px solid grey;
}
#butt_first_list {
    font-size: large;
}
.button_del_row {
    font-size: 10px;
}
/* границы €чеек тела таблицы */
input {
    display: inline-block;
    /*    display: flex;    */
    flex-direction: row;
    font-size: large;
    font-family: 'Avantgarde';
    width: 110px;
}
.button_prov{
    display:none;
}
select {
    font-size: 12px;
    width: 110px;
}
#button_close-table{
    display:none;
}
#tablica_zd__display {
    display: none;
    padding:0px;
}
.button_del_row {
    font-family: 'Avantgarde';
    font-size: large;
    background-color: #D6F1DD;
    border: 1px solid grey;
    text-align: center;
}
.button_look {
    margin: 5px;
    font-family: 'Avantgarde';
    font-size: large;
    background-color: #D6F1DD;
    border: 1px solid grey;
}
.mas_button {
    margin-left: 10px;
    margin-top:5px;
    margin-bottom:5px;
}


/*////////////////////////*/



/*.tablica {
    position: absolute;
    top: 120px;*/
    /*left: 465px;*/
    /*height: 848px;
    width: 1455px;
    max-width: 100%;
    max-height: 100%;
    background: #778899;
    overflow: auto;
    z-index: 2000;
}*/
#sort_div_table {
    background: yellow;
}
table {
    border-collapse: collapse;
    align-content: start;
}
.table:hover {
    background: #808080;
    color: white;
}

table th {
    font-weight: bold;
    background: #efefef;
    border: 1px solid #dddddd;
    text-align: center;
    font-family: 'Avantgarde';
    font-size: 12px;
}

table td {
    border: 1px solid #dddddd;
    align-content: center;
    text-align: center;
    font-size: 12px;
}
.h2 {
    font-family: 'Avantgarde';
    font-weight: 600;
}
.kap_but {
    margin-left: 30px;
    margin-top: -10px;
}
.kap_room input {
    width: 45px;
}




















/*body {
    min-width: 500px;
    margin: 0;
    padding: 0;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.container {
    margin: 0 auto;
}

.main_select {
    width: 200px;
}

.container:after {
    content: '';
    clear: both;
    display: table;
}


.main-header {
    padding: 0px;
    background: lightgray;
}

.header {
    min-height: 50px;
}

    .header::after {
        display: table;
        clear: both;
        content: "";
    }

.logo {
    float: left;
    margin-left: 50px;
    width: 250px;
    height: 85px;
}

    .logo img {
        display: block;
    }

.main-menu {
    float: right;
    padding-right: 50px;
    width: 650px;
    margin: 30px;
    text-align: center;
}

    .main-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-menu li {
        display: inline-block;
        margin-right: 60px;
        vertical-align: top;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

        .main-menu li:last-child {
            margin-right: 0;
        }

    .main-menu a {
        color: #000000;
        text-decoration: none;
    }

        .main-menu a:hover {
            text-decoration: underline;
        }

        .main-menu a:active {
            text-decoration: none;
            opacity: 0.3;
        }*/


/*STRUCTURA_LIT*/

/*.structure {
    margin: 5px;
}

.block1 {
    float: left;*/
    /*    border: 2px solid grey;*/
/*}

.structure .layout-column1 {
    width: 450px;
    min-height: 100%;
}

.structure .layout-column2 {
    width: 450px;
    min-height: 100%;
}

.block2 {
    margin-left: 460px;*/
    /*    border: 2px solid red;*/
/*}

.structure .layout-column3 {
    height: 839px;
    width: 1438px;
    max-width: 100%;
    max-height: 100%;
    background: yellow;
}

.structure .layout-column:last-child {
    margin-right: 0;
}

.feature {
    padding: 0px;
    text-align: left;
}

    .feature h2 {
        text-align: center;
    }

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 400px;
}

    .menu ul {
        margin: 0;
        padding: 0px 0px;
        padding-left: 25px;
        list-style: none;
    }

.structure .layout-column4 {
    width: 450px;
    min-height: 100%;
}

.layout-column4 a {
    display: block;
    margin-bottom: -5px;
    padding: 0px 0px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.tablica {
    position: absolute;
    top: 120px;
    left: 465px;
    height: 848px;
    min-width: 500px;*/
    /*max-width: 100%;*/
    /*max-height: 100%;
    background: #778899;
    overflow: auto;
    z-index: 2000;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border: 10px solid #dddddd;
    border-collapse: collapse;
    align-content: start;
}

    table th {
        font-weight: bold;
        padding: 0px;
        background: #D6F1DD;
        border: 1px solid #dddddd;
        text-align: center;
    }

    table td {
        border: 10px solid #dddddd;
        padding: 0px;
        align-content: center;
    }

.structure .layout-column5 {
    width: 450px;
    min-height: 100%;
}

.structure .layout-column6 {
    width: 450px;
    min-height: 100%;
}

table {
    border: 10px solid grey;
    width: 80%;
    margin: 0px;
}

#outputSelect {*/
    /*    display: flex;
*/ /*display: inline-block;
    padding-left: 0px;
}

#select_get_building_id {
    width: 50px;
}

#selectFloorId {
    width: 50px;
}

label {
    font-size: 25px;
}

#label {
    font-family: 'Avantgarde';*/
    /*display: flex;*/
    /*padding-left: 0px;
    font-size: 25px;
    display: inline-block;
}*/
/* границы €чеек первого р€да таблицы */
/*th {
    font-size: 30px;
    font-family: 'Avantgarde';
    border: 1px solid grey;
    background-color: #C8FFD7;
}

h1 {
    font-size: 45px;*/
    /*margin-left: 15px;*/
    /*font-family: 'Avantgarde';
    font-weight: 800;*/
    /*margin: 10px auto;*/
/*}

h2 {
    font-family: 'Avantgarde';
    font-weight: 600;
}

button {
    font-family: 'Avantgarde';
    font-size: 25px;
    margin-left: 5px;
    background-color: #D6F1DD;
    border: 1px solid grey;
}

#butt_first_list {
    font-size: large;
}

.button_del_row {
    font-size: 40px;
}*/
/* границы €чеек тела таблицы */
/*input {
    display: inline-block;*/
    /*display: flex;*/
    /*flex-direction: row;
    font-size: large;
    font-family: 'Avantgarde';*/
    /*width: 80%;*/
/*}

.button_prov {
    display: none;
}

select {
    font-size: 20px;
}

td {
    border: 1px solid grey;
    text-align: center;
    font-size: 20px;
}

#button_close-table {
    display: none;
}

#tablica_zd__display {
    display: none;
    padding: 0px;
}

.button_del_row {
    font-family: 'Avantgarde';
    font-size: large;
    background-color: #D6F1DD;
    border: 1px solid grey;
    text-align: center;
}

.button_look {*/
    /*  display: flex;
    flex-direction: row;*/
    /*margin: 5px;
    font-family: 'Avantgarde';
    font-size: large;
    background-color: #D6F1DD;
    border: 1px solid grey;
}

.mas_button {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}*/


/*////////////////////////*/



/*.tablica {
    position: absolute;
    top: 120px;*/
/*left: 465px;*/
/*height: 848px;
    width: 1455px;
    max-width: 100%;
    max-height: 100%;
    background: #778899;
    overflow: auto;
    z-index: 2000;
}*/
/*#sort_div_table {
    background: yellow;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table:hover {
    background: #808080;
    color: white;
}

table th {
    font-weight: bold;
    padding: 10px;
    background: #efefef;
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 25px;
}

table td {
    border: 1px solid #dddddd;
    padding: 10px;
}

.h2 {
    margin-left: 5px;
}*/